# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE
.vscode/

# Test/cache
.pytest_cache/

# Data
data/*
!data/.gitkeep

# ML datasets
ml/data/*
!ml/data/.gitkeep

# OS
.DS_Store
Thumbs.db